$header-color: #9E221A;
$primary-text-color: black;
$secondary-text-color: white;
$primary-button-color: #9E221A;
$secondary-button-color: #5F1410;
$background-off-white: #F0F0F0;


@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans&display=swap');

$primary-font: 'Merriweather Sans', sans-serif;
