@import url("https://fonts.googleapis.com/css?family=Merriweather+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
}

.nav-link-red {
  color: #9E221A;
  text-align: center;
  margin: 10px 10px 10px 10px;
  font-family: "Merriweather Sans", sans-serif;
  font-size: 2.0rem;
  text-decoration: none;
  background-color: #F0F0F0;
  border-style: solid;
  border-width: 2px;
  border-color: #9E221A;
  border-radius: 35px;
  padding: 5px 15px 5px 15px;
}

.nav-link-red:hover {
  background-color: #9E221A;
  color: white;
}

/* define parent grid */
#parent-container {
  display: -ms-grid;
  display: grid;
  width: 100vw;
  -ms-grid-columns: 100vw;
      grid-template-columns: 100vw;
  -ms-grid-rows: minmax(10vh, auto) minmax(80vh, auto) minmax(10vh, auto);
      grid-template-rows: minmax(10vh, auto) minmax(80vh, auto) minmax(10vh, auto);
  justify-items: center;
  background-color: #F0F0F0;
}

/* define header grid */
#header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100vw;
      grid-template-columns: 100vw;
  -ms-grid-rows: minmax(10vh, auto) minmax(10vh auto);
      grid-template-rows: minmax(10vh, auto) minmax(10vh auto);
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  background-color: #9E221A;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

#header #logo {
  height: 15vh;
  padding: 10px;
}

#header .nav-link a {
  color: white;
  text-align: center;
  margin: 10px 10px 10px 10px;
  font-family: "Merriweather Sans", sans-serif;
  font-size: 1.1rem;
  text-decoration: none;
  background-color: #9E221A;
  border-style: solid;
  border-width: 2px;
  border-color: white;
  border-radius: 20px;
  padding: 5px 15px 5px 15px;
}

#header .nav-link a:hover {
  background-color: #5F1410;
}

/* define footer */
#footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50vw 50vw;
      grid-template-columns: 50vw 50vw;
  -ms-grid-rows: 10vh;
      grid-template-rows: 10vh;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #9E221A;
}

#footer p {
  color: white;
}

/* define page-container */
#foreground {
  border-top-right-radius: 60px;
  background-color: white;
  border-bottom-left-radius: 60px;
  background-color: #F0F0F0;
  padding-top: 5vh;
  padding-bottom: 20vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: minmax(10vh, auto) minmax(70vh, auto);
      grid-template-rows: minmax(10vh, auto) minmax(70vh, auto);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

#foreground #headline p {
  font-size: 2.5rem;
  font-family: "Merriweather Sans", sans-serif;
}

hr {
  width: 100%;
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
  -ms-grid-column-align: center;
      justify-self: center;
}

#page-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100vw;
      grid-template-columns: 100vw;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  row-gap: 20px;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#page-content #video-container {
  width: 100%;
}

div img {
  border-radius: 6px;
}

@media screen and (max-width: 375px) {
  #desktop-phone {
    display: none;
    visibility: hidden;
  }
  #header {
    border-bottom-left-radius: 60px;
  }
  #header #nav-menu {
    display: -ms-grid;
    display: grid;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -ms-grid-rows: (minmax(7vh, auto))[4];
        grid-template-rows: repeat(4, minmax(7vh, auto));
  }
  #page-content {
    display: -ms-grid;
    display: grid;
  }
  #row-one-container {
    display: -ms-grid;
    display: grid;
    justify-items: center;
  }
  #paragraph-one {
    width: 100%;
    display: -ms-grid;
    display: grid;
    justify-items: center;
  }
  #paragraph-one p {
    font-size: 1.1rem;
    font-family: "Merriweather Sans", sans-serif;
    margin-right: 15px;
    margin-left: 15px;
  }
  #image-one-container {
    display: none;
  }
  #image-one-mobile {
    width: 90vw;
    height: auto;
    margin-top: 20px;
  }
  #image-one-mobile img {
    width: 100%;
    height: auto;
  }
  #image-two-container {
    display: none;
  }
  #paragraph-two {
    width: 100%;
    font-size: 1.1rem;
    font-family: "Merriweather Sans", sans-serif;
    display: -ms-grid;
    display: grid;
    justify-items: center;
  }
  #paragraph-two p {
    margin-right: 15px;
    margin-left: 15px;
  }
  #image-two-mobile {
    width: 90vw;
    height: auto;
    padding: 2vh;
  }
  #image-two-mobile img {
    width: 100%;
    height: auto;
  }
  #image-three-mobile {
    width: 90vw;
    height: auto;
    padding: 2vh;
  }
  #image-three-mobile img {
    width: 100%;
    height: auto;
  }
  #video-container {
    display: -ms-grid;
    display: grid;
    justify-items: center;
    width: 100%;
  }
  #video-container iframe {
    width: 90%;
    height: auto;
  }
  #background {
    background-color: #9E221A;
  }
  #footer {
    border-top-right-radius: 60px;
  }
}

@media screen and (min-width: 375px) and (max-width: 600px) {
  #header {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50vw 50vw;
        grid-template-columns: 50vw 50vw;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    justify-items: center;
    background-color: #9E221A;
    border-bottom-left-radius: 60px;
  }
  #header #nav-menu {
    display: -ms-grid;
    display: grid;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -ms-grid-rows: (minmax(7vh, auto))[4];
        grid-template-rows: repeat(4, minmax(7vh, auto));
  }
  #desktop-phone {
    display: none;
    visibility: hidden;
  }
  #page-content {
    border-top-right-radius: 60px;
    background-color: white;
    border-bottom-left-radius: 60px;
    background-color: #F0F0F0;
  }
  #row-one-container {
    display: -ms-grid;
    display: grid;
    justify-items: center;
  }
  #paragraph-one {
    width: 100%;
    display: -ms-grid;
    display: grid;
    justify-items: center;
  }
  #paragraph-one p {
    font-size: 1.1rem;
    font-family: "Merriweather Sans", sans-serif;
    margin-right: 15px;
    margin-left: 15px;
  }
  #image-one-container {
    display: none;
  }
  #image-one-mobile {
    width: 90vw;
    height: auto;
    margin-top: 20px;
  }
  #image-one-mobile img {
    width: 100%;
    height: auto;
  }
  #image-two-container {
    display: none;
  }
  #paragraph-two {
    width: 100%;
    font-size: 1.1rem;
    font-family: "Merriweather Sans", sans-serif;
    display: -ms-grid;
    display: grid;
    justify-items: center;
  }
  #paragraph-two p {
    margin-right: 15px;
    margin-left: 15px;
  }
  #image-two-mobile {
    width: 90vw;
    height: auto;
    padding: 2vh;
  }
  #image-two-mobile img {
    width: 100%;
    height: auto;
  }
  #image-three-mobile {
    width: 90vw;
    height: auto;
    padding: 2vh;
  }
  #image-three-mobile img {
    width: 100%;
    height: auto;
  }
  #video-container {
    display: -ms-grid;
    display: grid;
    justify-items: center;
    width: 100%;
  }
  #video-container iframe {
    width: 90%;
    height: 315px;
  }
  #background {
    background-color: #9E221A;
  }
  #footer {
    border-top-right-radius: 60px;
  }
}

@media screen and (min-width: 601px) {
  #header {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 30vw 70vw;
        grid-template-columns: 30vw 70vw;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #9E221A;
    border-bottom-left-radius: 60px;
  }
  #nav-menu {
    display: -ms-grid;
    display: grid;
    height: 15vh;
    width: 100%;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    -ms-grid-columns: (minmax(15vw, auto))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(15vw, auto));
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
    -webkit-column-gap: 10px;
            column-gap: 10px;
  }
  #nav-menu #desktop-phone {
    color: white;
    text-align: center;
    margin: 10px 10px 10px 10px;
    font-family: "Merriweather Sans", sans-serif;
    font-size: 1.1rem;
    text-decoration: none;
    background-color: #9E221A;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    border-radius: 20px;
    padding: 5px 20px 5px 20px;
  }
  #nav-menu #desktop-phone:hover {
    background-color: #5F1410;
  }
  .nav-link {
    margin: 5px 5px 5px 5px;
  }
  #mobile-href {
    display: none;
    visibility: hidden;
  }
  #headline {
    margin-bottom: 5vh;
  }
  #page-content {
    border-top-right-radius: 60px;
    background-color: white;
    border-bottom-left-radius: 60px;
    background-color: #F0F0F0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100vw;
        grid-template-columns: 100vw;
    -ms-grid-rows: minmax(40vh, auto) minmax(20vh, auto) minmax(20vh, auto);
        grid-template-rows: minmax(40vh, auto) minmax(20vh, auto) minmax(20vh, auto);
  }
  #row-one-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 45vw 45vw;
        grid-template-columns: 45vw 45vw;
    -ms-grid-rows: 46vh;
        grid-template-rows: 46vh;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 35px;
            column-gap: 35px;
  }
  #paragraph-one {
    width: 100%;
    display: -ms-grid;
    display: grid;
    justify-items: center;
  }
  #paragraph-one p {
    font-size: 1.1rem;
    font-family: "Merriweather Sans", sans-serif;
    margin-right: 15px;
    margin-left: 15px;
  }
  #image-one-container {
    display: inline-block;
    width: 100%;
  }
  #image-one-container img {
    width: 100%;
  }
  #image-one-mobile {
    display: none;
  }
  #image-two-container {
    display: initial;
    width: 45%;
    float: right;
    margin-right: 25px;
    margin-left: 35px;
  }
  #image-two-container img {
    width: 100%;
    float: inherit;
  }
  #paragraph-two {
    width: 100%;
    font-size: 1.1rem;
    font-family: "Merriweather Sans", sans-serif;
    margin: 35px;
  }
  #paragraph-two p {
    margin-right: 35px;
    margin-left: 35px;
  }
  #image-two-mobile {
    display: none;
  }
  #image-three-mobile {
    display: initial;
    width: 46%;
    float: left;
    margin-left: 35px;
    margin-right: 35px;
    margin-top: 20px;
  }
  #image-three-mobile img {
    width: 100%;
  }
  #video-container {
    display: -ms-grid;
    display: grid;
    justify-items: center;
    width: 100%;
  }
  #video-container iframe {
    width: 90%;
    height: 415px;
  }
  #background {
    background-color: #9E221A;
    width: 100vw;
  }
  #footer {
    border-top-right-radius: 60px;
  }
}

@media screen and (min-width: 601px) and (max-width: 941px) {
  #nav-menu {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(50%, 1fr))[2];
        grid-template-columns: repeat(2, minmax(50%, 1fr));
    -ms-grid-rows: (minmax(50%, 1fr))[2];
        grid-template-rows: repeat(2, minmax(50%, 1fr));
  }
}
/*# sourceMappingURL=about.css.map */