@import url("https://fonts.googleapis.com/css?family=Merriweather+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
}

/* define overly complicated @mixin for shits and giggles. 
felt cute might delete later */
/* define parent grid */
#parent-container {
  display: -ms-grid;
  display: grid;
  width: 100vw;
  -ms-grid-columns: 100vw;
      grid-template-columns: 100vw;
  -ms-grid-rows: minmax(10vh, auto) minmax(80vh, auto) minmax(10vh, auto);
      grid-template-rows: minmax(10vh, auto) minmax(80vh, auto) minmax(10vh, auto);
  justify-items: center;
}

/* define header grid */
#header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100vw;
      grid-template-columns: 100vw;
  -ms-grid-rows: minmax(10vh, auto) minmax(10vh auto);
      grid-template-rows: minmax(10vh, auto) minmax(10vh auto);
  justify-items: center;
  top: 0;
  background-color: #9E221A;
}

#header #logo {
  height: 15vh;
  padding: 10px;
}

#header .nav-link {
  text-decoration: none;
  padding: 5px 5px 5px 5px;
  border-radius: 6px;
  background-color: #9E221A;
  text-align: center;
  margin: 5px 0 5px 0;
}

#header .nav-link a {
  color: black;
  text-decoration: none;
}

/* define footer */
#footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50vw 50vw;
      grid-template-columns: 50vw 50vw;
  -ms-grid-rows: 10vh;
      grid-template-rows: 10vh;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #9E221A;
}

@media screen and (min-width: 343px) and (max-width: 700px) {
  #header {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50vw 50vw;
        grid-template-columns: 50vw 50vw;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    justify-items: center;
    background-color: #9E221A;
  }
  #desktop-phone {
    display: none;
    visibility: hidden;
  }
}

@media screen and (min-width: 701px) {
  #header {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 30vw 70vw;
        grid-template-columns: 30vw 70vw;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #9E221A;
  }
  #nav-menu {
    display: -ms-grid;
    display: grid;
    height: 15vh;
    width: 100%;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    -ms-grid-columns: 15vw 15vw 15vw 15vw;
        grid-template-columns: 15vw 15vw 15vw 15vw;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 10px;
            column-gap: 10px;
  }
  .nav-link {
    margin: 5px 5px 5px 5px;
  }
  #mobile-href {
    display: none;
  }
}

/* define page-container */
#page-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(260px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  row-gap: 20px;
  padding: 20px;
}
/*# sourceMappingURL=about.css.map */