
@import "_colors";
* {
    margin: 0;
    padding: 0;
}

.nav-link-red {
    color: $header-color;
        text-align: center;
        margin: 10px 10px 10px 10px;
        font-family: $primary-font;
        font-size: 2.0rem;
        text-decoration: none;
        background-color: $background-off-white;
        border-style: solid;
        border-width: 2px;
        border-color: $header-color;
        border-radius: 35px;
        padding: 5px 15px 5px 15px;
        &:hover {
            background-color: $header-color;
            color: $secondary-text-color;
           
        }
}
/* define parent grid */

#parent-container {
    display: grid;
    width: 100vw;
    grid-template-columns: 100vw;
    grid-template-rows: minmax(10vh, auto) minmax(80vh, auto) minmax(10vh, auto);
    justify-items: center;
    background-color: $background-off-white;
    
}

#header {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: minmax(10vh, auto) minmax(10vh auto);
    justify-items: center;
    align-items: center;
    top: 0;
    background-color: $header-color;
    padding-top: 2vh;
    padding-bottom: 2vh;
    #logo {
        height: 15vh;
        padding: 10px;
    }
    
    
    .nav-link a {
        color: $secondary-text-color;
        text-align: center;
        margin: 10px 10px 10px 10px;
        font-family: $primary-font;
        font-size: 1.1rem;
        text-decoration: none;
        background-color: $header-color;
        border-style: solid;
        border-width: 2px;
        border-color: $secondary-text-color;
        border-radius: 20px;
        padding: 5px 15px 5px 15px;
        &:hover {
            background-color: $secondary-button-color;
        }
    }
    
}
/* define content container */

#page-content {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: repeat(auto-fill, minmax(10vh, 1fr));
    justify-items: left;
    border-top-right-radius: 60px;
    background-color: white;
    border-bottom-left-radius: 60px;
    background-color: $background-off-white;
    padding-top: 5vh;
    padding-bottom: 15vh;
    
}

#map-container {
    height: 450px;
    width: 100vw;
}
#address-container {
    display: grid;
    align-items: center;
    margin-bottom: 15px;
    p {
        font-size: 1.5rem;
        margin: 5px;
        font-family: $primary-font;
    }
}
#footer {
    display: grid;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 10vh;
    justify-items: center;
    align-items: center;
    background-color: $header-color;
    p {
        color: $secondary-text-color;
    }
}

@media screen and (max-width: 375px) {
    #desktop-phone {
        display: none;
        visibility: hidden;
    }
    #header {
        border-bottom-left-radius: 60px;
        #nav-menu {
        display: grid;
        justify-items: center;
        align-items: center;
        grid-template-columns: auto;
        grid-template-rows: repeat(4, minmax(7vh, auto));
        }
    }
    
    #background {
        background-color: $header-color;
    }
    #footer {
        border-top-right-radius: 60px;
    }
   

}

@media screen and (min-width: 375px) and (max-width: 600px) {
    #header {
    display: grid;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: auto;
    justify-items: center;
    background-color: $header-color;
    border-bottom-left-radius: 60px;

    #nav-menu {
        display: grid;
        justify-items: center;
        align-items: center;
        grid-template-columns: auto;
        grid-template-rows: repeat(4, minmax(7vh, auto));
        }
    }
    #desktop-phone {
        display: none;
        visibility: hidden;
    }
    #page-content {
        border-top-right-radius: 60px;
        background-color: white;
        border-bottom-left-radius: 60px;
        background-color: $background-off-white;
        
        
    }
    #background {
        background-color: $header-color;
    }
    #footer {
        border-top-right-radius: 60px;
    }    
}
@media screen and (min-width: 601px) {
    #header {
    display: grid;
    grid-template-columns: 30vw 70vw;
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
    background-color: $header-color;
    border-bottom-left-radius: 60px;
    
    }
    #nav-menu {
        display: grid;
        height: 15vh;
        width: 100%;
        grid-template-rows: auto;
        grid-template-columns: repeat(auto-fill, minmax(15vw, auto));
        align-items: center;
        justify-items: center;
        column-gap: 10px;
        #desktop-phone {
                color: $secondary-text-color;
                text-align: center;
                margin: 10px 10px 10px 10px;
                font-family: $primary-font;
                font-size: 1.1rem;
                text-decoration: none;
                background-color: $header-color;
                border-style: solid;
                border-width: 2px;
                border-color: $secondary-text-color;
                border-radius: 20px;
                padding: 5px 20px 5px 20px;
                &:hover {
                    background-color: $secondary-button-color;
                }
        }
        
    }
    .nav-link {
        margin: 5px 5px 5px 5px;
    }
    #mobile-href {
        display: none;
        visibility: hidden;
    }
    #page-content {
        border-top-right-radius: 60px;
        background-color: white;
        border-bottom-left-radius: 60px;
        background-color: $background-off-white;
    }
    #background {
        background-color: $header-color;
        width: 100vw;
    }
    #footer {
        border-top-right-radius: 60px;
    }
    
}

@media screen and (min-width: 601px) and (max-width: 941px) {
    #nav-menu {
        display: grid;
        grid-template-columns: repeat(2, minmax(50%, 1fr));
        grid-template-rows: repeat(2,minmax(50%, 1fr));
    }
}