

@import "_colors";
* {
    margin: 0;
    padding: 0;
}
@keyframes card-size {
    from {height: 20vh;}
    to {height: 60vh;}
    
}
.nav-link-red {
    color: $header-color;
        text-align: center;
        margin: 10px 10px 10px 10px;
        font-family: $primary-font;
        font-size: 2.0rem;
        text-decoration: none;
        background-color: $background-off-white;
        border-style: solid;
        border-width: 2px;
        border-color: $header-color;
        border-radius: 35px;
        padding: 5px 15px 5px 15px;
        &:hover {
            background-color: $header-color;
            color: $secondary-text-color;
           
        }
}
.order-button {
    color: $header-color;
        text-align: center;
        margin: 5px 5px 5px 5px;
        font-family: $primary-font;
        font-size: 1.2rem;
        text-decoration: none;
        background-color: $secondary-text-color;
        border-style: solid;
        border-width: 2px;
        border-color: $header-color;
        border-radius: 35px;
        padding: 5px 15px 5px 15px;
        &:hover {
            background-color: $header-color;
            color: $secondary-text-color;
        }
}



/* define parent grid */

#parent-container {
    display: grid;
    width: 100vw;
    grid-template-columns: 100vw;
    grid-template-rows: minmax(10vh, auto) minmax(80vh, auto) minmax(10vh, auto);
    justify-items: center;
    background-color: $background-off-white;
    
}

/* define header grid */

#header {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: minmax(10vh, auto) minmax(10vh auto);
    justify-items: center;
    align-items: center;
    top: 0;
    background-color: $header-color;
    padding-top: 2vh;
    padding-bottom: 2vh;
    #logo {
        height: 15vh;
        padding: 10px;
    }
    
    
    .nav-link a {
        color: $secondary-text-color;
        text-align: center;
        margin: 10px 10px 10px 10px;
        font-family: $primary-font;
        font-size: 1.1rem;
        text-decoration: none;
        background-color: $header-color;
        border-style: solid;
        border-width: 2px;
        border-color: $secondary-text-color;
        border-radius: 20px;
        padding: 5px 15px 5px 15px;
        &:hover {
            background-color: $secondary-button-color;
        }
    }
    
}

/* define page content grid */

#background {
    background-color: $header-color;
    width: 100%;
    
}    
#foreground {
    border-top-right-radius: 60px;
    background-color: white;
    border-bottom-left-radius: 60px;
    background-color: $background-off-white;
    padding-top: 3vh;
    padding-bottom: 15vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: minmax(10vh, auto) minmax(60vh, auto);
    justify-items: center;
}

.page-content {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(15vh, auto));
    column-gap: 25px;
    row-gap: 25px;
    justify-items: center;
    align-items: center;
    margin: 15px;
    
}
#overlay {
    display: none;
}
/*define styles for menu cards */

.menu-item {
    display: grid;
    width: 80%;
    height: 20vh;
    grid-template-columns: 50% 50%;
    background-color: white;
    align-items: center;
    justify-items: center;
    padding: 3vw 3vh;
    border-radius: 5px;
    box-shadow: 5px 3px 10px $shadow-color;
    
    p, li {
        color: $primary-text-color;
        font-family: $primary-font;
    }
    li {
       display: none;
    }
    .details {
        font-size: 1.2rem;
        margin-top: 5px;
        font-family: $primary-font;
    }
    .hide {
        display: none;
    }
    img {
        width: 110px;
        border-radius: 6px;
    }
    
   
    &:hover {
        animation-name: card-size;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out;
        width: 80%;
       
        margin-top: 0;
        margin-bottom: 0;
        z-index: 100000;
        padding-bottom: 15px;
        display: grid;
        grid-template-columns: 100%;
        overflow: hidden;
        justify-items: center;
        align-items: center;
        text-align: center;
        li {
            
            display: initial;
            justify-self: center;
        }
        ul {
            margin-bottom: 15px;
            justify-items: center;
        }
        .details {
            display: none;
        }
        .hide {
            display: initial;
            justify-self: center;
        }
        img {
            width: 200px;
            border-radius: 9px;
        }
        
    }
}

.page-title p {
    font-size: 2.5rem;
    font-family: $primary-font;
}

 

.item-title {
    font-size: 1.5rem;
}


/* define footer */

#footer {
    display: grid;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 10vh;
    justify-items: center;
    align-items: center;
    background-color: $header-color;
    p {
        color: $secondary-text-color;
    }
}

@media screen and (max-width: 375px) {
    #desktop-phone {
        display: none;
        visibility: hidden;
    }
    #header {
        border-bottom-left-radius: 60px;
        #nav-menu {
        display: grid;
        justify-items: center;
        align-items: center;
        grid-template-columns: auto;
        grid-template-rows: repeat(4, minmax(7vh, auto));
        }
    }
    
    #background {
        background-color: $header-color;
        .page-content {
            margin: 15px;
        }
    }
    #footer {
        border-top-right-radius: 60px;
    }
    .order-button {
        color: $secondary-text-color;
        text-align: center;
        margin: 5px 5px 5px 5px;
        font-family: $primary-font;
        font-size: 1.2rem;
        text-decoration: none;
        background-color: $header-color;
        border-style: solid;
        border-width: 2px;
        border-color: $header-color;
        border-radius: 35px;
        padding: 5px 15px 5px 15px;
    }
   

}

@media screen and (min-width: 375px) and (max-width: 600px) {
    #header {
    display: grid;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: auto;
    justify-items: center;
    background-color: $header-color;
    border-bottom-left-radius: 60px;

    #nav-menu {
        display: grid;
        justify-items: center;
        align-items: center;
        grid-template-columns: auto;
        grid-template-rows: repeat(4, minmax(7vh, auto));
        }
    }
    #desktop-phone {
        display: none;
        visibility: hidden;
    }
    .page-content {
        border-top-right-radius: 60px;
        background-color: white;
        border-bottom-left-radius: 60px;
        background-color: $background-off-white;
        margin: 15px;
        
        
    }
    #background {
        background-color: $header-color;
    }
    #footer {
        border-top-right-radius: 60px;
    }    
}

@media screen and (min-width: 601px) {
    #header {
    display: grid;
    grid-template-columns: 30vw 70vw;
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
    background-color: $header-color;
    border-bottom-left-radius: 60px;
    
    }
    #nav-menu {
        display: grid;
        height: 15vh;
        width: 100%;
        grid-template-rows: auto;
        grid-template-columns: repeat(auto-fill, minmax(15vw, auto));
        align-items: center;
        justify-items: center;
        column-gap: 10px;
        #desktop-phone {
                color: $secondary-text-color;
                text-align: center;
                margin: 10px 10px 10px 10px;
                font-family: $primary-font;
                font-size: 1.1rem;
                text-decoration: none;
                background-color: $header-color;
                border-style: solid;
                border-width: 2px;
                border-color: $secondary-text-color;
                border-radius: 20px;
                padding: 5px 20px 5px 20px;
                &:hover {
                    background-color: $secondary-button-color;
                }
        }
        
    }
    .nav-link {
        margin: 5px 5px 5px 5px;
    }
    #mobile-href {
        display: none;
        visibility: hidden;
    }
    .details {
        display: none;
    }
    .page-content {
        border-top-right-radius: 60px;
        background-color: white;
        border-bottom-left-radius: 60px;
        background-color: $background-off-white;
        .menu-item:hover {
            margin-bottom: -100px;
            margin-top: 0;
        }
    }
    #background {
        background-color: $header-color;
        width: 100vw;
    }
    #footer {
        border-top-right-radius: 60px;
    }
    
}

@media screen and (min-width: 601px) and (max-width: 941px) {
    #nav-menu {
        display: grid;
        grid-template-columns: repeat(2, minmax(50%, 1fr));
        grid-template-rows: repeat(2,minmax(50%, 1fr));
    }
}
/* define page-content grid */

.page-content {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(15vh, auto));
    column-gap: 0px;
    row-gap: 15px;
    align-items: center;
    border-top-right-radius: 60px;
    background-color: white;
    border-bottom-left-radius: 60px;
    background-color: $background-off-white;
    
}

/*define styles for menu cards */


