@import "_colors";

/* define overly complicated @mixin for shits and giggles. 
felt cute might delete later */

@mixin button-nav($text-dec, $padding, $radius, $background-color, $color) {
    text-decoration: $text-dec;
    padding: $padding;
    border-radius: $radius;
    background-color: $background-color;
    a {
        color: $color;
        text-decoration: $text-dec;
    }
}

.nav-link-red {
    color: $header-color;
        text-align: center;
        margin: 10px 10px 10px 10px;
        font-family: $primary-font;
        font-size: 2.0rem;
        text-decoration: none;
        background-color: $background-off-white;
        border-style: solid;
        border-width: 2px;
        border-color: $header-color;
        border-radius: 35px;
        padding: 5px 15px 5px 15px;
        &:hover {
            background-color: $header-color;
            color: $secondary-text-color;
           
        }
}


/* strip away default margin and padding */
* {
    margin: 0;
    padding: 0;
}

/* define parent grid */

#parent {
    display: grid;
    width: 100vw;
    grid-template-columns: 100vw;
    grid-template-rows: minmax(10vh, auto) minmax(80vh, auto) minmax(10vh, auto);
    justify-items: center;
    background-color: $background-off-white;
    
}

/* define header grid */

#header {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: minmax(10vh, auto) minmax(10vh auto);
    justify-items: center;
    align-items: center;
    top: 0;
    background-color: $header-color;
    padding-top: 2vh;
    padding-bottom: 2vh;
    #logo {
        height: 15vh;
        padding: 10px;
    }
    
    
    .nav-link a {
        color: $secondary-text-color;
        text-align: center;
        margin: 10px 10px 10px 10px;
        font-family: $primary-font;
        font-size: 1.1rem;
        text-decoration: none;
        background-color: $header-color;
        border-style: solid;
        border-width: 2px;
        border-color: $secondary-text-color;
        border-radius: 20px;
        padding: 5px 15px 5px 15px;
        &:hover {
            background-color: $secondary-button-color;
        }
    }
    
}

/* define page content grid */

#page-content {
    display: grid;
    width: 100vw;
    grid-template-rows: minmax(10vh, auto) minmax(10vh, auto) minmax(1vh, auto) minmax(10vh, auto);
    grid-template-columns: 100vw;
    justify-items: center;
    align-items: center;
    background-color: $background-off-white;
    #some-text {
        margin: 0px 15px 0px 15px;
        
    }
    #headline-container {
        margin: 15% 15% 0px 15%;
        text-align: right;
    }
    #headline {
        font-size: 2.0rem;
        font-family: $primary-font;
    }
    
    
    #image-container {
        width: 100vw;
        height: auto;
        margin-bottom: -100px;
    }
    #background {
        background-color: $header-color;
    }
    #some-text {
        display: grid;
        grid-template-rows: repeat(2, auto);
        grid-template-columns: auto;
        #about-link {
            justify-self: right;
            margin-right: 5%;
        }
    }
    
    
}


/* define footer */

#footer {
    display: grid;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 10vh;
    justify-items: center;
    align-items: center;
    background-color: $header-color;
    p {
        color: $secondary-text-color;
    }
}

@media screen and (max-width: 375px) {
    #desktop-phone {
        display: none;
        visibility: hidden;
    }
    #header {
        border-bottom-left-radius: 60px;
        #nav-menu {
        display: grid;
        justify-items: center;
        align-items: center;
        grid-template-columns: auto;
        grid-template-rows: repeat(4, minmax(7vh, auto));
        }
    }
    #page-content {
        border-top-right-radius: 60px;
        background-color: white;
        border-bottom-left-radius: 60px;
        background-color: $background-off-white;
        #headline-container p {
            text-align: left;
            margin-left: -10vw;
            margin-bottom: 3%;
        }
        #call-to-action-container {
            justify-self: start;
            margin: 18px;
        }
        
    }
    #background {
        background-color: $header-color;
    }
    #footer {
        border-top-right-radius: 60px;
    }
    #some-text h2 {
        text-align: right;
        margin-top: 5vh;
        margin-right: 20vw;
        font-family: $primary-font;
        font-size: 1.8rem;
    }
    #some-text p {
        text-align: right;
        margin-bottom: 4vh;
        font-family: $primary-font;
        font-size: 1.2rem;
    }
    #home-image {
        width: 150px;
        position: relative;
        bottom: 9vh;
        left: 48vw;
        
    }
    #home-image-three {
        width: 175px;
        transform: rotate(-27deg);
        position: relative;
        left: 1vw;
        margin-top: 10px;
    }
    #home-image-two {
        display: none;
    }

}

/* responsive styles below */

@media screen and (min-width: 375px) and (max-width: 600px) {
    #header {
    display: grid;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: auto;
    justify-items: center;
    background-color: $header-color;
    border-bottom-left-radius: 60px;

    #nav-menu {
        display: grid;
        justify-items: center;
        align-items: center;
        grid-template-columns: auto;
        grid-template-rows: repeat(4, minmax(7vh, auto));
        }
    }
    #desktop-phone {
        display: none;
        visibility: hidden;
    }
    #page-content {
        border-top-right-radius: 60px;
        background-color: white;
        border-bottom-left-radius: 60px;
        background-color: $background-off-white;
        #headline-container p {
            justify-self: start;
            text-align: start;
            margin-left: -11%;
            margin-bottom: 3%;
            
        }
        #call-to-action-container {
            justify-self: start;
            margin-left: 7%;
        }
        
    }
    #background {
        background-color: $header-color;
    }
    #footer {
        border-top-right-radius: 60px;
    }
    #some-text h2 {
        text-align: right;
        margin-top: 5vh;
        margin-right: 30vw;
        font-family: $primary-font;
        font-size: 1.8rem;
    }
    #some-text p {
        text-align: right;
        margin-bottom: 4vh;
        font-family: $primary-font;
        font-size: 1.1rem;
        width: 70%;
        margin-left: 25vw;
    }
    #home-image {
        width: 150px;
        position: relative;
        bottom: 15vh;
        left: 60vw;
        transform: rotate(18deg);
    }
    #home-image-two {
        display: none;
    }
    #home-image-three {
        width: 175px;
        transform: rotate(-27deg);
        position: relative;
        margin-top: 50px;
        bottom: 3vh;
        
    }
    
}

@media screen and (min-width: 601px) {
    #header {
    display: grid;
    grid-template-columns: 30vw 70vw;
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
    background-color: $header-color;
    border-bottom-left-radius: 60px;
    
    }
    #nav-menu {
        display: grid;
        height: 15vh;
        width: 100%;
        grid-template-rows: auto;
        grid-template-columns: repeat(auto-fill, minmax(15vw, auto));
        align-items: center;
        justify-items: center;
        column-gap: 10px;
        #desktop-phone {
                color: $secondary-text-color;
                text-align: center;
                margin: 10px 10px 10px 10px;
                font-family: $primary-font;
                font-size: 1.1rem;
                text-decoration: none;
                background-color: $header-color;
                border-style: solid;
                border-width: 2px;
                border-color: $secondary-text-color;
                border-radius: 20px;
                padding: 5px 20px 5px 20px;
                &:hover {
                    background-color: $secondary-button-color;
                }
        }
        
    }
    .nav-link {
        margin: 5px 5px 5px 5px;
    }
    #mobile-href {
        display: none;
        visibility: hidden;
    }
    #page-content {
        border-top-right-radius: 60px;
        background-color: white;
        border-bottom-left-radius: 60px;
        background-color: $background-off-white;
        
        
        #headline-container {
            justify-self: start;
            text-align: start;
            margin-left: 7%;
            margin-top: 7%;
            margin-bottom: 3%;
            
        }
        #call-to-action-container {
            justify-self: start;
            margin-left: 7%;
        }
        
    }
    #background {
        background-color: $header-color;
    }
    #footer {
        border-top-right-radius: 60px;
    }
    #some-text h2 {
        margin-top: 5vh;
        font-family: $primary-font;
        font-size: 1.8rem;
    }
    #some-text p {
        margin-top: 3vh;
        margin-bottom: 3vh;
        font-family: $primary-font;
        font-size: 1.1rem;
        
    }
    #image-container {
        height: 3vhvh;
    }
    #home-image-container {
        height: 3vh;
    }
    #home-image {
        width: 200px;
        position: absolute;
        bottom: 40vh;
        left: 60vw;
        transform: rotate(10deg);
    }
    #home-image-two-container {
        margin-left: 30vw;
    }
    #home-image-two {
        width: 300px;
        float: left;
        shape-outside: circle(50%);
        margin-right: 20px;
        
    }
    #home-image-three {
        width: 175px;
        transform: rotate(-27deg);
        position: relative;
        bottom: 3vh;
        left: 10vw;
    }
}

@media screen and (min-width: 601px) and (max-width: 941px) {
    #nav-menu {
        display: grid;
        grid-template-columns: repeat(2, minmax(50%, 1fr));
        grid-template-rows: repeat(2,minmax(50%, 1fr));
    }

}
@media screen and (min-width: 681px) and (max-width: 760px) {
    #home-image-two-container {
        margin-left: 20vw;
    }
    #home-image-three {
        width: 175px;
        transform: rotate(-27deg);
        position: relative;
        bottom: 3vh;
        left: 5vw;
    }
}
@media screen and (min-width: 601px) and (max-width: 680px) {
    #home-image-two-container {
        margin-left: 10vw;
    }
    #home-image-three {
        width: 175px;
        transform: rotate(-27deg);
        position: relative;
        bottom: 3vh;
        left: 0vw;
    }
}
@media screen and (min-width: 375px) and (max-width: 600px) {
    #some-text h2 {
        text-align: right;
        margin-top: 5vh;
        margin-right: 25vw;
        font-family: $primary-font;
        font-size: 1.8rem;
    }
}

@media screen and (min-width: 910px) {
    #about-link {
        position: relative;
        bottom: 5vh;
    }
}
@media screen and (min-width: 980px) {
    #about-link {
        position: relative;
        bottom: 8vh;
    }
}
@media screen and (min-width: 1040px) {
    #about-link {
        position: relative;
        bottom: 13vh;
    }
}